/* 헤더 부분 */
#group_logout, #group_logout li a{
  color: #fff;
}
#group_logout li{
  display: inline-block;
  padding: 0 10px;
  position: relative;
  font-size: 16px;
}
#group_logout li::before{
  content: "";
  position: absolute;
  width: 1px;
  height: 14px;
  background-color: rgba(255,255,255,0.4);
  top: 4px;
  left: -2px;
}
#group_logout li:nth-of-type(1)::before{
  display: none;
}
#group_logout li span{
  padding-right: 5px;
}
#group_logout li em{
  vertical-align: middle;
}
#timeExtending{
  display: inline-block;
  color: #fff;
  cursor: pointer;
  background-color: transparent;
  text-decoration: underline;
}
.userName{
  font-weight: bold;
}

/* 컨텐츠 */
#check_title{
  
  width: 100%;
  height: 300px;
  background-color: #F7EAD9;
}